
<div id="wrapper">
  <div class="header">
  <h1>NYT Scraper</h1>
  <h2>
    <i>Scraping shit since 2018</i>
  </h2>
  <button id="scrapebutton" type="button">Scrape new articles!</button>
  </div>
  <div class="content">
  <div id="articles"><h2>Articles</h2></div>
  <div id="notes"><h2>Notes</h2></div>
  </div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="app.js"></script>
